<p class="text-center text-2xl">Quantos irão Jogar?</p>
<p class="text-center text-sm mb-2 italic text-slate-500">incluindo IA/BOT</p>

<div class="quantidade_jogadores grid grid-cols-4 flex justify-center w-full">
    <div class="dois_jogadores flex justify-center"><a href="#"><img src="/images/dado_2.png"
                class="dado dado_dois"></a></div>
    <div class="tres_jogadores flex justify-center"><img src="/images/dado_3.png" class="dado dado_tres"></div>
    <div class="quatro_jogadores flex justify-center"><img src="/images/dado_4.png" class="dado dado_quatro"></div>
    <div class="cinco_jogadores flex justify-center"><img src="/images/dado_5.png" class="dado dado_cinco"></div>
    <div class="seis_jogadores col-span-4 flex justify-center mt-10"><img src="/images/dado_6.png"
            class="dado dado_seis"></div>
</div>

<div class="slides text-center">
    <div class="slider-wrapper">
        <p class="text-center text-xl mt-5">Moeda Inicial</p>
        <input class="mb-5" type="range" name="dinheiro" min="1000" max="5000" step="500">
    </div>
    <a href=""
        class="selecionar_peca bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Selecionar
        Peças</a>
</div>