<p class="text-center text-2xl">Quantos irão Jogar?</p>
<p class="text-center text-sm mb-2 italic text-slate-500">incluindo IA/BOT</p>

<div class="quantidade_jogadores grid grid-cols-4 flex justify-center w-full">
    <div class="dois_jogadores flex justify-center"><a href="#" ><img src="/images/dado_2.png" onclick="selecionaNumeroJogadores(this)"
                class="dado dado_dois"></a></div>
    <div class="tres_jogadores flex justify-center"><img src="/images/dado_3.png" onclick="selecionaNumeroJogadores(this)" class="dado dado_tres"></div>
    <div class="quatro_jogadores flex justify-center"><img src="/images/dado_4.png" onclick="selecionaNumeroJogadores(this)" class="dado dado_quatro"></div>
    <div class="cinco_jogadores flex justify-center"><img src="/images/dado_5.png" onclick="selecionaNumeroJogadores(this)" class="dado dado_cinco"></div>
    <div class="seis_jogadores col-span-4 flex justify-center mt-10"><img src="/images/dado_6.png" onclick="selecionaNumeroJogadores(this)"
            class="dado dado_seis"></div>
</div>
<div class="text-center mt-20">
    <a href="/board" class="selecionar_peca bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Avançar</a>
</div>