<p class="text-center text-2xl">Teste Regras</p>
<p class="max-w">
-> 2 a 6 Jogadores
<br>-> 1000 a 5000 R$ ou $
<br>-> Joguem o dado para ter a ordem da partida
<br>-> Jogue o dado e mova sua peça
<br>-> Olhe para o espaço onde você caiu
<br>-> Compre as propriedades quando cair nelas
<br>-> Leiloe as propriedades que não queira
<br>-> Receba o aluguel
<br>-> Ter todas propriedades de uma mesma cor lhe dá um monopólio
<br>-> Construa casas no seu monopólio
<br>-> Ganhe 200 R$ ou $ quando passar pelo ponto de partida
<br>-> Pegue uma carta de Sorte ou Caixa de Comunidade
<br>-> Vá para a cadeia, saia com carta ou fiança
<br>-> Timer para definir o vencedor ao fim do tempo
</p>
</div>