<%- include('partials/header.ejs') %>
    <a href="/"><img class="logo shadow-2xl" src="/images/monopoly-logo.png" alt="Logo do Monopoly"></a>
    <%- include('pages/menu.ejs') %>

        <%- include('partials/footer.ejs') %>