.button-play {
    display: block;
    position: relative;
    border: 3px solid white;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3), inset 0 3px 4px -2px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 70px;
    height: 70px;
    background: grey;
    background-image: linear-gradient(120deg, rgba(166, 166, 166, 0.3) 50%, grey 51%);
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.465, 1.55) 0.2s, border-width 0.4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
}

.button-play:before {
    display: block;
    position: absolute;
    content: "";
    bottom: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-width: 20px 0px 20px 38px;
    border-radius: 0;
    border-left-color: white;
    transform: translate(-13px, 50%);
}

.button-play:hover {
    border: 5px solid white;
}

.button-play.active:before {
    -webkit-animation: playJump 0.5s linear infinite;
    animation: playJump 0.5s linear infinite;
}

@-webkit-keyframes playJump {
    0% {
        transform: translate(-13px, 60%) scale(1.1, 0.7);
    }

    10% {
        transform: translate(-13px, 30%) scale(0.9, 1.2);
    }

    20% {
        transform: translate(-13px, 15%);
    }

    40% {
        transform: translate(-13px, 10%);
    }

    50% {
        transform: translate(-13px, 10%);
    }

    55% {
        transform: translate(-13px, 18%);
    }

    60% {
        transform: translate(-13px, 20%);
    }

    65% {
        transform: translate(-13px, 25%);
    }

    70% {
        transform: translate(-13px, 30%);
    }

    90% {
        transform: translate(-13px, 60%) scale(1.2, 0.7);
    }

    100% {
        transform: translate(-13px, 60%) scale(1.4, 0.7);
    }
}

@keyframes playJump {
    0% {
        transform: translate(-13px, 60%) scale(1.1, 0.7);
    }

    10% {
        transform: translate(-13px, 30%) scale(0.9, 1.2);
    }

    20% {
        transform: translate(-13px, 15%);
    }

    40% {
        transform: translate(-13px, 10%);
    }

    50% {
        transform: translate(-13px, 10%);
    }

    55% {
        transform: translate(-13px, 18%);
    }

    60% {
        transform: translate(-13px, 20%);
    }

    65% {
        transform: translate(-13px, 25%);
    }

    70% {
        transform: translate(-13px, 30%);
    }

    90% {
        transform: translate(-13px, 60%) scale(1.2, 0.7);
    }

    100% {
        transform: translate(-13px, 60%) scale(1.4, 0.7);
    }
}

/*-----------------------------------------------------------------------------*/

.button-config {
    display: block;
    position: relative;
    border: 3px solid white;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3), inset 0 3px 4px -2px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 70px;
    height: 70px;
    background: grey;
    background-image: linear-gradient(120deg, rgba(166, 166, 166, 0.3) 50%, grey 51%);
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.465, 1.55) 0.2s, border-width 0.4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
}

.button-config img {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 12%;
    width: 48px;
    height: auto;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}

.button-config:hover {
    border: 5px solid white;
}

.horario {
    animation: gira 5s linear;
    animation-duration: 10000ms;
}

@keyframes gira {
    to {
        transform: rotate(360deg);
    }
}

/*-----------------------------------------------------------------------------*/

.button-regras {
    display: block;
    position: relative;
    border: 3px solid white;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3), inset 0 3px 4px -2px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 70px;
    height: 70px;
    background: grey;
    background-image: linear-gradient(120deg, rgba(166, 166, 166, 0.3) 50%, grey 51%);
    border-radius: 50%;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.465, 1.55) 0.2s, border-width 0.4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
}

.button-regras img {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 12%;
    width: 48px;
    height: auto;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}

.button-regras:hover {
    border: 5px solid white;
}

.button-regras.tremer:hover {
    animation: tremer .1s;
}

.tremer {
    animation: tremer .1s;
    animation-duration: 10000ms;
}

@keyframes tremer {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 3px;
    }

    50% {
        margin-left: -3px;
    }

    75% {
        margin-left: 3px;
    }

    100% {
        margin-left: 0;
    }
}
/*-----------------------------------------------------------------------------*/